body {
	background-color: lightskyblue;
}

#header {
	width: 500px;
	text-align: center;
	margin: auto;
}

h1 {
	font-size: 36px;
}

table {
	margin: auto;
}

.square {
	font-size: 48px;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

td {
	width: 15px;
	color: white;
	background-color: blue;
}

#word-form {
	margin-top: 20px;
	font-size: 24px;
	width: 500px;
	text-align: center;
}

footer {
	width: 500px;
	margin: auto;
	text-align: center;
}

#user-message {
	font-size: 36px;
	width: 500px;
}

.hidden {
	display: none;
}

#play-again {
	margin-top: 20px;
}
