<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle!</title>
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <section>
        {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
        {% endfor %}
    </section>

    <section>
        <h1>Boggle Game - Score <span id=score></span></h1>
        <table>
            {% for row in board %}
            <tr>
                {% for letter in row %}
                <td>
                    <div class="square">{{letter}}</div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form id="word-form">
            <label for="guess">Enter a guess:</label>
            <input type="text" name="guess" id="guess" autofocus>
            <button id="guessBtn">Enter Guess</button>
        </form>
    </section>
    <section id="user-message" class="hidden"></section>

    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>

</body>

</html>